#about img {
    display: inline-block;
    position: relative;
}

#about .thumb img {
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

#about .profile img {
    height: 80px;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
}

#about .profile.big img {
    height: 150px;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    float: left;
    margin: 0 10px 10px 15px;
}

#about .featured {
    height: 200px;

    padding-left: 15px;
}

#about .panel {
    width: 32.5%;
    display: inline-block;
    height: 100px;
}


#about .profile {
    position: absolute;
    opacity: 0;
}

#about .profile.big {
    opacity: 1;
    width: 33%;
}

#about .thumb {
    display: inline-block;
}

#about .profile.big .desc {
    display: inline;
    padding-right: 5px;
}

#about .thumbs {
    padding: 20px;
}

body {
    font: 14px arial, sans-serif;
}

h2 {
    padding: 20px;
    text-align: center;
}

#about {
    max-width: 800px;
    margin: auto;
    position: relative;
}
